*{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    background: black;
}

.Main{
                    margin: 12% 35%;
                    width: 500px;
                    height: 40vh;
                    background: white;
                    box-shadow: 4px 4px 5px 4px rgba(128, 128, 128, 0.645);
                  border-radius: 20px;
                    
}

.time{
                    color:black;
                    font-size: 60px;
                    margin-left: 5rem;
                    /* margin-top: 20rem; */
                    background: white;
}

.date{
                    color: rgb(230, 136, 152);
                    margin-top: 1rem;
                    margin-left: 16rem;
                    font-size: 40px;
                    background: white;
}